@{
    ViewData["Title"] = "Quadrants";
}

@model List<TaskData>

@*<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <td>Quadrant 1</td>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.quad1</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-entryid="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete">Delete</a></td>
            </tr>
        }
    </tbody>


            <td>Quadrant 2</td>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.quad2</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-entryid="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete">Delete</a></td>
            </tr>
}
    </tbody>

    <td>Quadrant 3</td>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.quad1</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" sp-route-taskid="@x.TaskID">Delete</a></td>
            </tr>
}
    </tbody>

    <td>Quadrant 4</td>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.quad1</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-entryid="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-entryid="@x.TaskID>Delete</a></td>
            </tr>
            }
        </tbody>

        </tr>

        </thead>



    </table>*@

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Category</td>
            <td>Due Date</td>
            <td>Quadrant</td>
            <td>Task</td>
            <td>Completed</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.category.CategoryName</td>
                <td>@x.dueDate</td>
                <td>@x.quadrant</td>
                <td>@x.taskName</td>
                <td>@x.completed</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.taskId">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@x.taskId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
