@{
    ViewData["Title"] = "Quadrants";
}

@model List<TaskData>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <td>Quadrant 1</td>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.quad1</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-entryid="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete">Delete</a></td>
            </tr>
        }
    </tbody>


            <td>Quadrant 2</td>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.quad2</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-entryid="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete">Delete</a></td>
            </tr>
}
    </tbody>

    <td>Quadrant 3</td>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.quad1</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" sp-route-taskid="@x.TaskID">Delete</a></td>
            </tr>
}
    </tbody>

    <td>Quadrant 4</td>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.quad1</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-entryid="@x.TaskID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-entryid="@x.TaskID>Delete</a></td>
            </tr>
            }
        </tbody>

        </tr>

        </thead>



    </table>
